<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <title>table</title>
    <style>
    html * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    .wrap {
        display: table;
        width: 100%;
        height: 100%;
    }

    .wrap div {
        display: table-row;
    }

    .header {
        height: 100px;
        line-height: 100px;
        background-color: red;
    }

    .main {
        background-color: yellow;
    }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="header">头部</div>
        <!-- 不太理想 -->
        <div class="main">
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
        </div>
    </div>
</body>

</html>