<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <title>grid</title>
    <style>
    html * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    .wrap {
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 100px;
    }

    .main {
    	overflow: auto;
        background-color: yellow;
    }

    .footer {
    	line-height: 100px;
        background-color: red;
    }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="main">
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
        </div>
        <div class="footer">底部</div>
    </div>
</body>

</html>